.background_tint {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd !important;
    position: relative;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    min-height: 110%
}

.footer_txt {
    color: white;
    font-family: 'Lato' !important;
}

.fab {
    font-family: 'Lato' !important;
}